.env
node_modules/
production_logs/
public/


# steps for deploy after ec2 runs

# --> install nvm from github-repo 
# --> copy paste the 3 steps displayed after installation complete
# --> run that

# --> check 'nvm -v'

# --> install node using "nvm install '-version of node' "
# --> check the versions of node and npm installed

# --> mongoDB server installation for ubuntu
# STEPS:    
#       1. wget -qO - https://www.mongodb.org/static/pgp/server-4.4.asc | sudo apt-key add - (GET A OK RESPONSE)
#       2. echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/4.4 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-4.4.list
#       3. sudo apt-get update
#       4. sudo apt-get install -y mongodb-org
#       5. echo "mongodb-org hold" | sudo dpkg --set-selections
#          echo "mongodb-org-server hold" | sudo dpkg --set-selections
#          echo "mongodb-org-shell hold" | sudo dpkg --set-selections
#          echo "mongodb-org-mongos hold" | sudo dpkg --set-selections
#          echo "mongodb-org-tools hold" | sudo dpkg --set-selections
#       6. START

# --> install redis

# --> install PM2
# cmd for PM2 -> npm install pm2 -g

# --> clone the code folder from github or where you have pushed the code to.
# --> use cmd -> git clone 'repo link'

# --> move into that folder
# --> do -> npm install = this will install all the modules(acc. to package.JSON). remember the node_modules folder which we didn't pushed.


# installing GULP - FOR LATER!

#import the secret keys and env paths to bash profile 
# example 'export LD_DB: ____'
# for opening bash profilel -> (vi ~/.bash_profile)
# Alt+i to insert into the bash profile
# esc to exit that cmd and :wq to save and exit the file
# now source that bash profile using 'source ~/.bash_profile'
# check by cmd -> 'node'
#                  -> 'process.env' 
# ctrl+c -> exit

# install nodemon as well as we're not using pm2 now!
# cmd -> 'npm install -g nodemon', -g for installing globally



