
<link rel="stylesheet" href="/css/_chat_box.css">


<div id="user-chat-box">
    <ul id="chat-messages-list">
        <li class="other-message">
            <div class="msg">
                <span>Other Message</span>
            </div>
        </li>

        <li class="self-message">
            <div class="msg">
                <span>Self Message</span>
            </div>
        </li>
    </ul>
    <div id="chat-message-input-container">
        <input type="text" id="chat-message-input" placeholder="Type Message Here">
        <button id="send-message">Send</button>
    </div>
</div>