

<section id="course-upload">
    <form action="" id="course-upload-form" method="POST">
        <textarea name="content" id="" cols="20" rows="3" placeholder="Link of the course..."></textarea>
    </form>
</section>