
<link rel="stylesheet" href="/css/_header.css">

<div id="header-div">

    <!-- on right -->
    <div id="nav">
        <nav>
            <ul id="nav-list">
                <li>
                    <a href="http://">Home</a>
                </li>
                <li>
                    <a href="http://">Who We Are</a>
                </li>
                <li>
                    <a href="http://">What We Provide</a>      
                </li>
            </ul>
        </nav>
    </div>

    <!-- on left -->
    <div id="logo-div">
        <img src="/coursera-html/LearnDome_img.png" alt="LearnDome-img">
    </div>
</div>

