
<!-- <h1>This is your Profile Page!</h1> -->
<link rel="stylesheet" href="/css/homepage.css">


<div id="content">
    <img src="<%= user.avatar %>" alt="Profile Photo" width="100">


    <p>E-mail: <%= user.email %></p>
    <p>Username: <%= user.username %></p>


    <a href="/user/profile/update-profile/<%= user.id%>"> Edit Profile </a>
</div>