
    <script src="https://kit.fontawesome.com/78e14d0e1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/_login.css">

    
        <div id="outer">
            <a id="close" href="/" rel="noopener noreferrer" title="close"><i class="far fa-times-circle"></i></a>
            <div id="content">
                <div id="heading">
                    Sign Up!
                </div>

                                                                <!-- Social login -->

                <div id="social">
            <!-- login through fb! -->
                    <div class="s-fb-g fb">
                        <!-- fb-logo -->
                        <div class="s-logo">
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-facebook-f"></i>
                            </a>        
                        </div>
                        <!-- fb-text -->
                        <div class="s-text">
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                Facebook
                            </a>
                        </div>
                    </div>
            <!-- login through google -->
                    <div class="s-fb-g g">
                        <!-- google-logo -->
                        <div class="s-logo">
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-google"></i>
                            </a>
                        </div>
                        <!-- google-text -->
                        <div class="s-text">
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                Google
                            </a>
                        </div>
                    </div>
                </div>
                
                <br>
                                                                
                                                                        <!-- divider -->

                <div class="divider-hr">
                    <span>or</span>
                </div>

                                                                        <!-- login form -->
                <form action="/create-stu-account" method="POST" id="login-form">
                    <input type="text" id="username", placeholder="Username", name="username" required>
                    <input type="email" id="email", placeholder="E-mail", name="email" required>
                    <input type="password" name="password" id="password", placeholder="Password" required>
                    <input type="password" name="confirm_password" id="confirm_password", placeholder="Confirm Password" required>

                    <button type="submit" id="login-btn">SIGN UP</button>
                </form>
                
                <!-- forgot password? -->
                <!-- <div id="forgot-pass">
                    <a href="">Forgot Your Password?</a>
                </div>
                <br> -->
                <br>
                <span>OR</span>
                <!-- sign-up-form -->
                <!-- <div id="sign-up-head">New Here? Sign Up Now.</div> -->
                <form action="" id="sign-up-form">
                    <a href="log-in" id="sign-up-btn">LOG IN</a>
                </form>
            </div>
            
        </div>
    
