



	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/homepage.css">


<!-- <body>
	<input type="checkbox" id="check"> -->
	<!--Header start-->
	<!-- <header>
		<div id="label-out">
			<label for="check">
				<i class="fa fa-bars" id="sidebar-btn"></i>
			</label>	
		</div>
		<div id="header-div">

			<div class="left-area">
				<h3>Learn<span>Dome</span></h3>
			</div>
			<div class="right-area">
				<div id="upload-img">
					<img src="./images/icons8-upload-50.png" style="scale: 0.6;">
				</div>
				<div id="log-out-out">
					<a href="/destroy-session" class="logout-btn">Log Out</a>
				</div>
				
			</div>
		</div>
	</header> -->
	<!--header end-->

	<!-- <div id="sidebar-out"> -->
		<!--sidebar start-->
		<!-- <div class="sidebar">
			<aside class="">	
				
					<center>
						<img src="./images/undraw_profile_pic_ic5t.svg" class="profile-image"> -->
						
					<!-- </center>
					<a href="/user/profile" target="_blank"><i class="fa fa-user"></i><span>Profile</span></a>
					<a href="/homepage"><i class="fa fa-desktop"></i><span>Dashboard</span></a>
					<a href="#"><i class="fa fa-book"></i><span>Library</span></a>
					<a href="#"><i class="fa fa-inbox"></i><span>Inbox</span></a>
					<a href="#"><i class="fa fa-cogs"></i><span>Settings</span></a>
					<a href="#"><i class="fa fa-info"></i><span>Inquiry</span></a>
				 -->
				<!--sidebar end-->
			<!-- </aside>
		</div> -->
		
	<!-- </div> -->
	

			
						<!-- RECOMMENDED COURSES SECTION -->

				<section id="recommendations">
					<div id="recommendations-from-org-out">
						<article id="recommendations-from-org">
							<h2>Recommendations from your organization</h2>
							<p>Choose from hand-picked content from this program to advance your career!</p>
							<br> 
							<div class="section-content">
								<div class="song-out">
									<svg class="dot-img">
										<path d="M68.78,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,0Zm9.6,3.25a1.63,1.63,0,1,0-1.63-1.63A1.63,1.63,0,0,0,78.38,3.25Zm-9.6,5.17A1.63,1.63,0,1,0,70.41,10,1.62,1.62,0,0,0,68.78,8.42Zm9.6,0A1.63,1.63,0,1,0,80,10,1.62,1.62,0,0,0,78.38,8.42Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,16.83Zm9.6,0A1.63,1.63,0,1,0,80,18.46,1.63,1.63,0,0,0,78.38,16.83Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,25.25Zm9.6,0A1.63,1.63,0,1,0,80,26.87,1.63,1.63,0,0,0,78.38,25.25Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,33.67Zm9.6,0A1.63,1.63,0,1,0,80,35.29,1.62,1.62,0,0,0,78.38,33.67Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,42.08Zm9.6,0A1.63,1.63,0,1,0,80,43.71,1.63,1.63,0,0,0,78.38,42.08Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,50.5Zm9.6,0A1.63,1.63,0,1,0,80,52.12,1.63,1.63,0,0,0,78.38,50.5Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,58.92Zm9.6,0A1.63,1.63,0,1,0,80,60.54,1.62,1.62,0,0,0,78.38,58.92ZM1.62,67.33A1.63,1.63,0,1,0,3.25,69,1.63,1.63,0,0,0,1.62,67.33Zm9.6,0A1.63,1.63,0,1,0,12.84,69,1.63,1.63,0,0,0,11.22,67.33Zm9.59,0A1.63,1.63,0,1,0,22.44,69,1.63,1.63,0,0,0,20.81,67.33Zm9.6,0A1.63,1.63,0,1,0,32,69,1.63,1.63,0,0,0,30.41,67.33Zm9.59,0A1.63,1.63,0,1,0,41.62,69,1.62,1.62,0,0,0,40,67.33Zm9.59,0A1.63,1.63,0,1,0,51.22,69,1.63,1.63,0,0,0,49.59,67.33Zm9.6,0a1.63,1.63,0,1,0,0,3.25,1.63,1.63,0,0,0,0-3.25Zm9.59,0A1.63,1.63,0,1,0,70.41,69,1.63,1.63,0,0,0,68.78,67.33Zm9.6,0A1.63,1.63,0,1,0,80,69,1.63,1.63,0,0,0,78.38,67.33ZM1.62,75.75a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,1.62,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,11.22,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,20.81,75.75Zm9.6,0A1.63,1.63,0,1,0,32,77.37,1.63,1.63,0,0,0,30.41,75.75Zm9.59,0a1.63,1.63,0,1,0,1.62,1.62A1.62,1.62,0,0,0,40,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,49.59,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,59.19,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,75.75Zm9.6,0A1.63,1.63,0,1,0,80,77.37,1.63,1.63,0,0,0,78.38,75.75Z"></path>
									</svg>
									<a href="https://www.youtube.com/watch?v=SwQhKFMxmDY" target="_blank">
										<div class=song>
											<div class="song-icon">
												<img src="./images/2062051.svg">
											</div>
											<div class="song-description-1">
												<p><b>Brain Development</b></p>
												<div class="song-description-2">
													Dr. Andrew Huberman
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="song-out">
									<svg class="dot-img">
										<path d="M68.78,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,0Zm9.6,3.25a1.63,1.63,0,1,0-1.63-1.63A1.63,1.63,0,0,0,78.38,3.25Zm-9.6,5.17A1.63,1.63,0,1,0,70.41,10,1.62,1.62,0,0,0,68.78,8.42Zm9.6,0A1.63,1.63,0,1,0,80,10,1.62,1.62,0,0,0,78.38,8.42Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,16.83Zm9.6,0A1.63,1.63,0,1,0,80,18.46,1.63,1.63,0,0,0,78.38,16.83Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,25.25Zm9.6,0A1.63,1.63,0,1,0,80,26.87,1.63,1.63,0,0,0,78.38,25.25Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,33.67Zm9.6,0A1.63,1.63,0,1,0,80,35.29,1.62,1.62,0,0,0,78.38,33.67Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,42.08Zm9.6,0A1.63,1.63,0,1,0,80,43.71,1.63,1.63,0,0,0,78.38,42.08Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,50.5Zm9.6,0A1.63,1.63,0,1,0,80,52.12,1.63,1.63,0,0,0,78.38,50.5Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,58.92Zm9.6,0A1.63,1.63,0,1,0,80,60.54,1.62,1.62,0,0,0,78.38,58.92ZM1.62,67.33A1.63,1.63,0,1,0,3.25,69,1.63,1.63,0,0,0,1.62,67.33Zm9.6,0A1.63,1.63,0,1,0,12.84,69,1.63,1.63,0,0,0,11.22,67.33Zm9.59,0A1.63,1.63,0,1,0,22.44,69,1.63,1.63,0,0,0,20.81,67.33Zm9.6,0A1.63,1.63,0,1,0,32,69,1.63,1.63,0,0,0,30.41,67.33Zm9.59,0A1.63,1.63,0,1,0,41.62,69,1.62,1.62,0,0,0,40,67.33Zm9.59,0A1.63,1.63,0,1,0,51.22,69,1.63,1.63,0,0,0,49.59,67.33Zm9.6,0a1.63,1.63,0,1,0,0,3.25,1.63,1.63,0,0,0,0-3.25Zm9.59,0A1.63,1.63,0,1,0,70.41,69,1.63,1.63,0,0,0,68.78,67.33Zm9.6,0A1.63,1.63,0,1,0,80,69,1.63,1.63,0,0,0,78.38,67.33ZM1.62,75.75a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,1.62,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,11.22,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,20.81,75.75Zm9.6,0A1.63,1.63,0,1,0,32,77.37,1.63,1.63,0,0,0,30.41,75.75Zm9.59,0a1.63,1.63,0,1,0,1.62,1.62A1.62,1.62,0,0,0,40,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,49.59,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,59.19,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,75.75Zm9.6,0A1.63,1.63,0,1,0,80,77.37,1.63,1.63,0,0,0,78.38,75.75Z"></path>
									</svg>
									<a href="https://www.youtube.com/watch?v=QXeEoD0pB3E&list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3" target="_blank">
										<div class=song>
											<div class="song-icon">
												<img src="./images/Python-Transparent.png">
											</div>
											<div class="song-description-1">
												<p><b>Python</b></p>
												<div class="song-description-2">
													Telusko
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</article>
					</div>
				</section>

												<!-- TRENDING COURSES SECTION -->
			
				<section id="trending">
					<div id="recommendations-from-org-out">
						<article id="recommendations-from-org">
							<br>`
							<h2>Trending Courses</h2>
							<!-- <p>Choose from hand-picked content from this program to advance your career!</p> -->
							<br>
							<div class="section-content">
								<div class="song-out">
									<svg class="dot-img">
										<path d="M68.78,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,0Zm9.6,3.25a1.63,1.63,0,1,0-1.63-1.63A1.63,1.63,0,0,0,78.38,3.25Zm-9.6,5.17A1.63,1.63,0,1,0,70.41,10,1.62,1.62,0,0,0,68.78,8.42Zm9.6,0A1.63,1.63,0,1,0,80,10,1.62,1.62,0,0,0,78.38,8.42Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,16.83Zm9.6,0A1.63,1.63,0,1,0,80,18.46,1.63,1.63,0,0,0,78.38,16.83Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,25.25Zm9.6,0A1.63,1.63,0,1,0,80,26.87,1.63,1.63,0,0,0,78.38,25.25Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,33.67Zm9.6,0A1.63,1.63,0,1,0,80,35.29,1.62,1.62,0,0,0,78.38,33.67Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,42.08Zm9.6,0A1.63,1.63,0,1,0,80,43.71,1.63,1.63,0,0,0,78.38,42.08Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,50.5Zm9.6,0A1.63,1.63,0,1,0,80,52.12,1.63,1.63,0,0,0,78.38,50.5Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,58.92Zm9.6,0A1.63,1.63,0,1,0,80,60.54,1.62,1.62,0,0,0,78.38,58.92ZM1.62,67.33A1.63,1.63,0,1,0,3.25,69,1.63,1.63,0,0,0,1.62,67.33Zm9.6,0A1.63,1.63,0,1,0,12.84,69,1.63,1.63,0,0,0,11.22,67.33Zm9.59,0A1.63,1.63,0,1,0,22.44,69,1.63,1.63,0,0,0,20.81,67.33Zm9.6,0A1.63,1.63,0,1,0,32,69,1.63,1.63,0,0,0,30.41,67.33Zm9.59,0A1.63,1.63,0,1,0,41.62,69,1.62,1.62,0,0,0,40,67.33Zm9.59,0A1.63,1.63,0,1,0,51.22,69,1.63,1.63,0,0,0,49.59,67.33Zm9.6,0a1.63,1.63,0,1,0,0,3.25,1.63,1.63,0,0,0,0-3.25Zm9.59,0A1.63,1.63,0,1,0,70.41,69,1.63,1.63,0,0,0,68.78,67.33Zm9.6,0A1.63,1.63,0,1,0,80,69,1.63,1.63,0,0,0,78.38,67.33ZM1.62,75.75a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,1.62,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,11.22,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,20.81,75.75Zm9.6,0A1.63,1.63,0,1,0,32,77.37,1.63,1.63,0,0,0,30.41,75.75Zm9.59,0a1.63,1.63,0,1,0,1.62,1.62A1.62,1.62,0,0,0,40,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,49.59,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,59.19,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,75.75Zm9.6,0A1.63,1.63,0,1,0,80,77.37,1.63,1.63,0,0,0,78.38,75.75Z"></path>
									</svg>
									<a href="https://www.youtube.com/watch?v=hIK09QyGHmU" target="_blank">
										<div class=song>
											<div class="song-icon">
												<img src="./images/bussiness-dev.png">
											</div>
											<div class="song-description-1">
												<p><b>Bussiness Development</b></p>
												<div class="song-description-2">
													Patrick Dang
												</div>
											</div>
										</div>
									</a>
								</div>
								<div class="song-out">
									<svg class="dot-img">
										<path d="M68.78,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,0Zm9.6,3.25a1.63,1.63,0,1,0-1.63-1.63A1.63,1.63,0,0,0,78.38,3.25Zm-9.6,5.17A1.63,1.63,0,1,0,70.41,10,1.62,1.62,0,0,0,68.78,8.42Zm9.6,0A1.63,1.63,0,1,0,80,10,1.62,1.62,0,0,0,78.38,8.42Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,16.83Zm9.6,0A1.63,1.63,0,1,0,80,18.46,1.63,1.63,0,0,0,78.38,16.83Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,25.25Zm9.6,0A1.63,1.63,0,1,0,80,26.87,1.63,1.63,0,0,0,78.38,25.25Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,33.67Zm9.6,0A1.63,1.63,0,1,0,80,35.29,1.62,1.62,0,0,0,78.38,33.67Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,42.08Zm9.6,0A1.63,1.63,0,1,0,80,43.71,1.63,1.63,0,0,0,78.38,42.08Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,50.5Zm9.6,0A1.63,1.63,0,1,0,80,52.12,1.63,1.63,0,0,0,78.38,50.5Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,58.92Zm9.6,0A1.63,1.63,0,1,0,80,60.54,1.62,1.62,0,0,0,78.38,58.92ZM1.62,67.33A1.63,1.63,0,1,0,3.25,69,1.63,1.63,0,0,0,1.62,67.33Zm9.6,0A1.63,1.63,0,1,0,12.84,69,1.63,1.63,0,0,0,11.22,67.33Zm9.59,0A1.63,1.63,0,1,0,22.44,69,1.63,1.63,0,0,0,20.81,67.33Zm9.6,0A1.63,1.63,0,1,0,32,69,1.63,1.63,0,0,0,30.41,67.33Zm9.59,0A1.63,1.63,0,1,0,41.62,69,1.62,1.62,0,0,0,40,67.33Zm9.59,0A1.63,1.63,0,1,0,51.22,69,1.63,1.63,0,0,0,49.59,67.33Zm9.6,0a1.63,1.63,0,1,0,0,3.25,1.63,1.63,0,0,0,0-3.25Zm9.59,0A1.63,1.63,0,1,0,70.41,69,1.63,1.63,0,0,0,68.78,67.33Zm9.6,0A1.63,1.63,0,1,0,80,69,1.63,1.63,0,0,0,78.38,67.33ZM1.62,75.75a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,1.62,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,11.22,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,20.81,75.75Zm9.6,0A1.63,1.63,0,1,0,32,77.37,1.63,1.63,0,0,0,30.41,75.75Zm9.59,0a1.63,1.63,0,1,0,1.62,1.62A1.62,1.62,0,0,0,40,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,49.59,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,59.19,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,75.75Zm9.6,0A1.63,1.63,0,1,0,80,77.37,1.63,1.63,0,0,0,78.38,75.75Z"></path>
									</svg>
									<a href="https://www.youtube.com/watch?v=V6ZgbLDhr2I" target="_blank">
										<div class=song>
											<div class="song-icon">
												<img src="./images/music-png.png">
											</div>
											<div class="song-description-1">
												<p><b>Music Production</b></p>
												<div class="song-description-2">
													Darshit Nayak
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</article>
					</div>
				</section>


				<% if(courses){ %>
				
					<section id="trending">
						<div id="recommendations-from-org-out">
							<article id="recommendations-from-org">
								<br>
								<h2>Instructor Uploads</h2>
								<!-- <p>Choose from hand-picked content from this program to advance your career!</p> -->
								<br>
								<div class="section-content">
		
									<% for(course_d of courses){ %>
										<div class="song-out">
											<svg class="dot-img">
												<path d="M68.78,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,0Zm9.6,3.25a1.63,1.63,0,1,0-1.63-1.63A1.63,1.63,0,0,0,78.38,3.25Zm-9.6,5.17A1.63,1.63,0,1,0,70.41,10,1.62,1.62,0,0,0,68.78,8.42Zm9.6,0A1.63,1.63,0,1,0,80,10,1.62,1.62,0,0,0,78.38,8.42Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,16.83Zm9.6,0A1.63,1.63,0,1,0,80,18.46,1.63,1.63,0,0,0,78.38,16.83Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,25.25Zm9.6,0A1.63,1.63,0,1,0,80,26.87,1.63,1.63,0,0,0,78.38,25.25Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,33.67Zm9.6,0A1.63,1.63,0,1,0,80,35.29,1.62,1.62,0,0,0,78.38,33.67Zm-9.6,8.41a1.63,1.63,0,1,0,1.63,1.63A1.63,1.63,0,0,0,68.78,42.08Zm9.6,0A1.63,1.63,0,1,0,80,43.71,1.63,1.63,0,0,0,78.38,42.08Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,50.5Zm9.6,0A1.63,1.63,0,1,0,80,52.12,1.63,1.63,0,0,0,78.38,50.5Zm-9.6,8.42a1.63,1.63,0,1,0,1.63,1.62A1.62,1.62,0,0,0,68.78,58.92Zm9.6,0A1.63,1.63,0,1,0,80,60.54,1.62,1.62,0,0,0,78.38,58.92ZM1.62,67.33A1.63,1.63,0,1,0,3.25,69,1.63,1.63,0,0,0,1.62,67.33Zm9.6,0A1.63,1.63,0,1,0,12.84,69,1.63,1.63,0,0,0,11.22,67.33Zm9.59,0A1.63,1.63,0,1,0,22.44,69,1.63,1.63,0,0,0,20.81,67.33Zm9.6,0A1.63,1.63,0,1,0,32,69,1.63,1.63,0,0,0,30.41,67.33Zm9.59,0A1.63,1.63,0,1,0,41.62,69,1.62,1.62,0,0,0,40,67.33Zm9.59,0A1.63,1.63,0,1,0,51.22,69,1.63,1.63,0,0,0,49.59,67.33Zm9.6,0a1.63,1.63,0,1,0,0,3.25,1.63,1.63,0,0,0,0-3.25Zm9.59,0A1.63,1.63,0,1,0,70.41,69,1.63,1.63,0,0,0,68.78,67.33Zm9.6,0A1.63,1.63,0,1,0,80,69,1.63,1.63,0,0,0,78.38,67.33ZM1.62,75.75a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,1.62,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,11.22,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,20.81,75.75Zm9.6,0A1.63,1.63,0,1,0,32,77.37,1.63,1.63,0,0,0,30.41,75.75Zm9.59,0a1.63,1.63,0,1,0,1.62,1.62A1.62,1.62,0,0,0,40,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,49.59,75.75Zm9.6,0a1.63,1.63,0,1,0,1.62,1.62A1.63,1.63,0,0,0,59.19,75.75Zm9.59,0a1.63,1.63,0,1,0,1.63,1.62A1.63,1.63,0,0,0,68.78,75.75Zm9.6,0A1.63,1.63,0,1,0,80,77.37,1.63,1.63,0,0,0,78.38,75.75Z"></path>
											</svg>
											<a href="/course/student-course-modal/<%= course_d.id %>">										
												<div class=song>
													<div class="song-icon">
														<img src="./images/2062051.svg">
													</div>
													<div class="song-description-1">
														<p><b><%= course_d.c_name %></b></p>
														<div class="song-description-2">
															<%= course_d.instructor.username %>
														</div>
													</div>
												</div>
											</a>
										</div>
									<% } %>
		
								</div>
							</article>
						</div>

						

					</section>
				
				<% } %>

				
				
			<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
			<script src="/js/chat_engine.js"></script>
			<% if(locals.user){ %> 
				<script>
					new ChatEngine('user-chat-box', '<%= locals.user.email %>')
				</script>	
			<% } %>
			
