
<link rel="stylesheet" href="/css/homepage.css"> 

    <h1>Upload A Course</h1>
    <!-- COURSE UPLOAD FORM -->
    <section id="course-upload">
        <form action="/course/create-course" id="course-upload-form" method="POST">
            <!-- <textarea name="content" id="" cols="30" rows="2" placeholder="Link of the course..."></textarea> -->
            <input type="url" name="c_url" id="course-url" placeholder="Course Link..." required>
            <input type="text" name="c_name" id="course-name" placeholder="Course Name..." required>
            <!-- <input type="text" name="c_description" id="course-des" placeholder="Description..." required> -->
            <textarea name="c_description" id="course-des" cols="30" rows="2" placeholder="Description..." required></textarea>
            <input type="submit" value="Upload">
        </form>
    </section>