


<% if(locals.user.enrolledCourses.includes(c.c_name)){%>
    <!-- to goto course -->
    <div id="goto-course-wrap" style="display: inline-block;">
        <div id="goto-course">
            <h3><a href="<%= c.c_url %>">Go To Course</a></h3>
        </div>
    </div>
<% }else{%>
                    <!-- to enroll-course -->
        <div id="enroll-wrap">
            <div id="enroll">
                <!-- <form action="/course/enroll-course" method="post">
                    <input type="text" name="enrolled_c_id" id="enroll-c-id" style="display: none;" value="<%= c._id %>">
                    <input type="submit" value="Enroll in the Course">
                </form> -->
                <form action="/course/enroll-course" method="post">
                    <input type="text" name="enrolled_c" id="enroll-c" style="display: none;" value="<%= c %>">
                    <input type="text" name="enrolled_c_id" id="enroll-c-id" style="display: none;" value="<%= c._id %>">
                    <input type="submit" value="Enroll in the Course">
                </form>
            </div>
        </div>
    <% } %>