<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    
    <!-- <link rel="stylesheet" href="/css/layout.css"> -->
    <!-- extracting styles from subpages into layout -->
    <%- style %>

</head>
<body>

    <header>
    
    </header>
    

    <!-- Layout is just a wrapper -->
    <!-- predefined keyword for variables that will be filled-in here -->
    <%- body %>
    

    <!-- extracting scripts from subpages into the layout -->
    <%- script %>


</body>
</html>