<div>
    <p>
        Hi <strong><%= enrolling_student.username %></strong>
    </p>
    <br>
    <br>
    <p>
        <h1>Welcome to the new Course!</h1>
        Happy Learning :)
    </p>
    <br>
    <br>
    <p>Thanks!</p>
    <p>Team LearnDome</p>
</div>